In [1]:
import pandas as pd
import numpy as np
import re
import json
import joblib

from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [2]:
df = pd.read_csv("house_price_sleman.csv")
df.head()

,price,nav-link,description,listing-location,bed,bath,carport,surface_area,building_area
0,695.0,https://www.rumah123.com/properti/sleman/hos17...,Rumah 2 Lantai Baru di jalan Palagan Sleman Y...,"Ngaglik, Sleman",3.0,3.0,2.0,120.0,110.0
1,682.0,https://www.rumah123.com/properti/sleman/hos17...,RUMAH BARU DEKAT AL AZHAR DAN UGM,"Jombor, Sleman",3.0,2.0,1.0,102.0,126.0
2,580.0,https://www.rumah123.com/properti/sleman/hos17...,RUMAH ASRI DAN SEJUK DI BERBAH SLEMAN DEKAT PA...,"Berbah, Sleman",2.0,2.0,1.0,100.0,100.0
3,504.0,https://www.rumah123.com/properti/sleman/hos17...,Rumah Murah 5 Menit Dari Candi Prambanan Tersi...,"Prambanan, Sleman",3.0,1.0,1.0,109.0,67.0
4,275.0,https://www.rumah123.com/properti/sleman/hos17...,Rumah Murah Cicilan 1jt Di Moyudan Sleman,"Moyudan, Sleman",2.0,1.0,1.0,60.0,30.0

In [3]:
needed_cols = [
    "price",
    "listing-location",
    "bed",
    "bath",
    "carport",
    "surface_area",
    "building_area"  # ditambahkan
]

missing = [c for c in needed_cols if c not in df.columns]
print("Missing columns:", missing)

df = df[needed_cols].copy()
df = df.dropna()
df.reset_index(drop=True, inplace=True)

df.head()

Missing columns: []

   price   listing-location  bed  bath  carport  surface_area  building_area
0  695.0    Ngaglik, Sleman  3.0   3.0      2.0         120.0          110.0
1  682.0     Jombor, Sleman  3.0   2.0      1.0         102.0          126.0
2  580.0     Berbah, Sleman  2.0   2.0      1.0         100.0          100.0
3  504.0  Prambanan, Sleman  3.0   1.0      1.0         109.0           67.0
4  275.0    Moyudan, Sleman  2.0   1.0      1.0          60.0           30.0

In [4]:
def clean_price_to_rupiah(x):
    if pd.isna(x):
        return np.nan

    s = str(x).lower().strip()
    s = s.replace("rp", "").replace(" ", "")
    s = s.replace(",", ".")
    multiplier = 1

    if "miliar" in s:
        multiplier = 1_000_000_000
        s = s.replace("miliar", "")
    elif "juta" in s:
        multiplier = 1_000_000
        s = s.replace("juta", "")

    s = re.sub(r"[^0-9\.]", "", s)
    if s == "":
        return np.nan

    return float(s) * multiplier

def clean_surface_area(x):
    if pd.isna(x):
        return np.nan

    s = str(x).lower().strip()
    s = s.replace("m²", "").replace("m2", "").replace(" ", "")
    s = re.sub(r"[^0-9\.]", "", s)

    if s == "":
        return np.nan

    return float(s)

# Bersihkan kolom
df["price"] = df["price"].apply(clean_price_to_rupiah)
df["surface_area"] = df["surface_area"].apply(clean_surface_area)
df["building_area"] = df["building_area"].apply(clean_surface_area)  # ditambahkan

df["bed"] = pd.to_numeric(df["bed"], errors="coerce")
df["bath"] = pd.to_numeric(df["bath"], errors="coerce")
df["carport"] = pd.to_numeric(df["carport"], errors="coerce")

df = df.dropna()
df.reset_index(drop=True, inplace=True)

df.head()

   price   listing-location  bed  bath  carport  surface_area  building_area
0  695.0    Ngaglik, Sleman  3.0   3.0      2.0         120.0          110.0
1  682.0     Jombor, Sleman  3.0   2.0      1.0         102.0          126.0
2  580.0     Berbah, Sleman  2.0   2.0      1.0         100.0          100.0
3  504.0  Prambanan, Sleman  3.0   1.0      1.0         109.0           67.0
4  275.0    Moyudan, Sleman  2.0   1.0      1.0          60.0           30.0

In [5]:
print(df.dtypes)
print("\nHarga MIN:", df["price"].min())
print("Harga MAX:", df["price"].max())

price               float64
listing-location     object
bed                 float64
bath                float64
carport             float64
surface_area        float64
building_area       float64
dtype: object

Harga MIN: 217.0
Harga MAX: 20000.0

In [6]:
X = df.drop("price", axis=1)
y = df["price"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42
)

print("Train:", X_train.shape)
print("Test :", X_test.shape)

Train: (935, 6)
Test : (234, 6)

In [7]:
numeric_features = ["bed", "bath", "carport", "surface_area", "building_area"]
categorical_features = ["listing-location"]

preprocessor = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), numeric_features),
        ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_features)
    ]
)

In [8]:
models = {
    "Linear Regression": Pipeline([
        ("preprocess", preprocessor),
        ("model", LinearRegression())
    ]),

    "Random Forest": Pipeline([
        ("preprocess", preprocessor),
        ("model", RandomForestRegressor(
            n_estimators=400,
            random_state=42,
            n_jobs=-1
        ))
    ])
}

results_dict = {}

for name, pipeline_model in models.items():
    pipeline_model.fit(X_train, y_train)
    pred_test = pipeline_model.predict(X_test)

    test_r2 = r2_score(y_test, pred_test)
    test_mae = mean_absolute_error(y_test, pred_test)
    test_rmse = np.sqrt(mean_squared_error(y_test, pred_test))

    results_dict[name] = {
        "test_r2": float(test_r2),
        "test_mae": float(test_mae),
        "test_rmse": float(test_rmse)
    }

results_dict

{'Linear Regression': {'test_r2': 0.9969358593179745,
  'test_mae': 16.0031973610039,
  'test_rmse': 44.42836742669055},
 'Random Forest': {'test_r2': 0.9376421452292976,
  'test_mae': 39.49880341880342,
  'test_rmse': 200.42485935704332}}

In [9]:
X_train_processed = preprocessor.fit_transform(X_train)
X_test_processed = preprocessor.transform(X_test)

# ubah sparse matrix jadi dense array
X_train_processed = X_train_processed.toarray()
X_test_processed = X_test_processed.toarray()

print("Train processed:", X_train_processed.shape)
print("Test processed :", X_test_processed.shape)

Train processed: (935, 28)
Test processed : (234, 28)

In [10]:
def build_dnn(input_dim, lr=0.001, dropout1=0.2, dropout2=0.15):
    model = keras.Sequential([
        layers.Input(shape=(input_dim,)),
        layers.Dense(256, activation="relu"),
        layers.Dropout(dropout1),
        layers.Dense(128, activation="relu"),
        layers.Dropout(dropout2),
        layers.Dense(64, activation="relu"),
        layers.Dense(1)
    ])

    model.compile(
        optimizer=keras.optimizers.Adam(learning_rate=lr),
        loss="mse",
        metrics=[keras.metrics.MeanAbsoluteError(name="mae")]
    )

    return model

dnn_model = build_dnn(X_train_processed.shape[1])
dnn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 256)               7424

 dropout (Dropout)           (None, 256)               0

 dense_1 (Dense)             (None, 128)               32896

 dropout_1 (Dropout)         (None, 128)               0

 dense_2 (Dense)             (None, 64)                8256

 dense_3 (Dense)             (None, 1)                 65

=================================================================
Total params: 48641 (190.00 KB)
Trainable params: 48641 (190.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [11]:
early_stop = keras.callbacks.EarlyStopping(
    monitor="val_loss",
    patience=12,
    restore_best_weights=True
)

reduce_lr = keras.callbacks.ReduceLROnPlateau(
    monitor="val_loss",
    factor=0.5,
    patience=5,
    min_lr=1e-6
)

history = dnn_model.fit(
    X_train_processed, y_train,
    validation_split=0.2,
    epochs=250,
    batch_size=32,
    callbacks=[early_stop, reduce_lr],
    verbose=1
)

Epoch 1/250
24/24 [==============================] - 1s 7ms/step - loss: 1894010.1250 - mae: 923.8968 - val_loss: 3533112.2500 - val_mae: 1039.0298 - lr: 0.0010
Epoch 2/250
24/24 [==============================] - 0s 2ms/step - loss: 1847357.1250 - mae: 909.3157 - val_loss: 3457817.7500 - val_mae: 1008.3538 - lr: 0.0010
Epoch 3/250
24/24 [==============================] - 0s 2ms/step - loss: 1628556.6250 - mae: 836.2595 - val_loss: 3141997.7500 - val_mae: 873.2749 - lr: 0.0010
Epoch 4/250
24/24 [==============================] - 0s 2ms/step - loss: 1122570.1250 - mae: 596.8262 - val_loss: 2493353.5000 - val_mae: 528.7087 - lr: 0.0010
Epoch 5/250
24/24 [==============================] - 0s 2ms/step - loss: 496794.5625 - mae: 301.1255 - val_loss: 2102810.7500 - val_mae: 364.4015 - lr: 0.0010
Epoch 6/250
24/24 [==============================] - 0s 2ms/step - loss: 290072.6562 - mae: 240.8094 - val_loss: 2048990.7500 - val_mae: 317.8917 - lr: 0.0010
Epoch 7/250
24/24 [==============================] - 0s 2ms/step - loss: 232098.7969 - mae: 208.1505 - val_loss: 1975624.7500 - val_mae: 281.8083 - lr: 0.0010
Epoch 8/250
24/24 [==============================] - 0s 2ms/step - loss: 142851.9531 - mae: 166.2985 - val_loss: 1965456.1250 - val_mae: 259.5094 - lr: 0.0010
Epoch 9/250
24/24 [==============================] - 0s 2ms/step - loss: 115876.4453 - mae: 146.7236 - val_loss: 1930960.7500 - val_mae: 238.3687 - lr: 0.0010
Epoch 10/250
24/24 [==============================] - 0s 2ms/step - loss: 111900.8750 - mae: 135.2121 - val_loss: 1915533.1250 - val_mae: 216.8868 - lr: 0.0010
Epoch 11/250
24/24 [==============================] - 0s 2ms/step - loss: 69903.5391 - mae: 118.4235 - val_loss: 1892509.6250 - val_mae: 192.2812 - lr: 0.0010
Epoch 12/250
24/24 [==============================] - 0s 2ms/step - loss: 58155.3047 - mae: 103.3981 - val_loss: 1887849.7500 - val_mae: 177.3727 - lr: 0.0010
Epoch 13/250
24/24 [==============================] - 0s 2ms/step - loss: 57431.9297 - mae: 89.3850 - val_loss: 1887691.1250 - val_mae: 168.9430 - lr: 0.0010
Epoch 14/250
24/24 [==============================] - 0s 2ms/step - loss: 19371.9785 - mae: 77.0030 - val_loss: 1880861.3750 - val_mae: 154.3083 - lr: 0.0010
Epoch 15/250
24/24 [==============================] - 0s 2ms/step - loss: 20647.5039 - mae: 73.4395 - val_loss: 1886334.6250 - val_mae: 154.6582 - lr: 0.0010
Epoch 16/250
24/24 [==============================] - 0s 2ms/step - loss: 22004.4004 - mae: 68.5208 - val_loss: 1871458.3750 - val_mae: 143.0424 - lr: 0.0010
Epoch 17/250
24/24 [==============================] - 0s 2ms/step - loss: 13599.4160 - mae: 62.3868 - val_loss: 1879218.0000 - val_mae: 142.7046 - lr: 0.0010
Epoch 18/250
24/24 [==============================] - 0s 3ms/step - loss: 8474.7783 - mae: 58.1582 - val_loss: 1872655.3750 - val_mae: 136.0699 - lr: 0.0010
Epoch 19/250
24/24 [==============================] - 0s 2ms/step - loss: 8485.4316 - mae: 55.1426 - val_loss: 1875569.6250 - val_mae: 132.1075 - lr: 0.0010
Epoch 20/250
24/24 [==============================] - 0s 2ms/step - loss: 12244.6592 - mae: 59.3059 - val_loss: 1872489.6250 - val_mae: 132.1827 - lr: 0.0010
Epoch 21/250
24/24 [==============================] - 0s 2ms/step - loss: 8301.1426 - mae: 52.5680 - val_loss: 1868533.3750 - val_mae: 123.8521 - lr: 0.0010
Epoch 22/250
24/24 [==============================] - 0s 2ms/step - loss: 8328.7969 - mae: 50.8652 - val_loss: 1872069.2500 - val_mae: 125.7140 - lr: 0.0010
Epoch 23/250
24/24 [==============================] - 0s 2ms/step - loss: 8025.8149 - mae: 51.6447 - val_loss: 1867318.3750 - val_mae: 120.7102 - lr: 0.0010
Epoch 24/250
24/24 [==============================] - 0s 2ms/step - loss: 8116.7715 - mae: 52.4584 - val_loss: 1866520.1250 - val_mae: 121.0693 - lr: 0.0010
Epoch 25/250
24/24 [==============================] - 0s 2ms/step - loss: 6460.4893 - mae: 48.6749 - val_loss: 1867655.7500 - val_mae: 119.1170 - lr: 0.0010
Epoch 26/250
24/24 [==============================] - 0s 2ms/step - loss: 5764.9058 - mae: 47.4525 - val_loss: 1869133.3750 - val_mae: 118.7050 - lr: 0.0010
Epoch 27/250
24/24 [==============================] - 0s 2ms/step - loss: 6534.8862 - mae: 48.4727 - val_loss: 1870609.6250 - val_mae: 120.4928 - lr: 0.0010
Epoch 28/250
24/24 [==============================] - 0s 2ms/step - loss: 9108.4121 - mae: 48.0091 - val_loss: 1873409.8750 - val_mae: 125.4078 - lr: 0.0010
Epoch 29/250
24/24 [==============================] - 0s 2ms/step - loss: 6444.2124 - mae: 48.2974 - val_loss: 1863602.2500 - val_mae: 116.9504 - lr: 0.0010
Epoch 30/250
24/24 [==============================] - 0s 2ms/step - loss: 7939.9707 - mae: 48.7731 - val_loss: 1871054.8750 - val_mae: 125.8265 - lr: 0.0010
Epoch 31/250
24/24 [==============================] - 0s 2ms/step - loss: 8167.3638 - mae: 51.9424 - val_loss: 1867094.7500 - val_mae: 117.4544 - lr: 0.0010
Epoch 32/250
24/24 [==============================] - 0s 2ms/step - loss: 8499.7715 - mae: 47.7130 - val_loss: 1863832.8750 - val_mae: 116.3186 - lr: 0.0010
Epoch 33/250
24/24 [==============================] - 0s 2ms/step - loss: 6447.5322 - mae: 48.6698 - val_loss: 1868366.5000 - val_mae: 118.8828 - lr: 0.0010
Epoch 34/250
24/24 [==============================] - 0s 2ms/step - loss: 5433.3335 - mae: 45.7536 - val_loss: 1864446.5000 - val_mae: 112.4122 - lr: 0.0010
Epoch 35/250
24/24 [==============================] - 0s 2ms/step - loss: 8150.4360 - mae: 48.0812 - val_loss: 1866886.0000 - val_mae: 118.0926 - lr: 5.0000e-04
Epoch 36/250
24/24 [==============================] - 0s 2ms/step - loss: 9531.8037 - mae: 45.6194 - val_loss: 1869715.3750 - val_mae: 120.3192 - lr: 5.0000e-04
Epoch 37/250
24/24 [==============================] - 0s 2ms/step - loss: 5910.8726 - mae: 45.4465 - val_loss: 1867160.5000 - val_mae: 114.5743 - lr: 5.0000e-04
Epoch 38/250
24/24 [==============================] - 0s 2ms/step - loss: 6031.0005 - mae: 45.4819 - val_loss: 1866958.2500 - val_mae: 112.6975 - lr: 5.0000e-04
Epoch 39/250
24/24 [==============================] - 0s 2ms/step - loss: 5561.8848 - mae: 45.5012 - val_loss: 1865268.3750 - val_mae: 112.5827 - lr: 5.0000e-04
Epoch 40/250
24/24 [==============================] - 0s 2ms/step - loss: 6913.9912 - mae: 47.3049 - val_loss: 1864085.2500 - val_mae: 111.1376 - lr: 2.5000e-04
Epoch 41/250
24/24 [==============================] - 0s 2ms/step - loss: 9423.7080 - mae: 46.0852 - val_loss: 1863718.1250 - val_mae: 110.0328 - lr: 2.5000e-04

In [12]:
pred_dnn = dnn_model.predict(X_test_processed).flatten()

dnn_r2 = r2_score(y_test, pred_dnn)
dnn_mae = mean_absolute_error(y_test, pred_dnn)
dnn_rmse = np.sqrt(mean_squared_error(y_test, pred_dnn))

results_dict["DNN"] = {
    "test_r2": float(dnn_r2),
    "test_mae": float(dnn_mae),
    "test_rmse": float(dnn_rmse)
}

results_dict

8/8 [==============================] - 0s 738us/step

{'Linear Regression': {'test_r2': 0.9969358593179745,
  'test_mae': 16.0031973610039,
  'test_rmse': 44.42836742669055},
 'Random Forest': {'test_r2': 0.9376421452292976,
  'test_mae': 39.49880341880342,
  'test_rmse': 200.42485935704332},
 'DNN': {'test_r2': 0.9973302687500872,
  'test_mae': 19.54483384352464,
  'test_rmse': 41.47054825578765}}

In [13]:
with open("model_results.json", "w") as f:
    json.dump(results_dict, f, indent=4)

print("Saved: model_results.json ✅")

Saved: model_results.json ✅

In [14]:
metrics_df = pd.DataFrame(results_dict).T
metrics_df

                    test_r2   test_mae   test_rmse
Linear Regression  0.996936  16.003197   44.428367
Random Forest      0.937642  39.498803  200.424859
DNN                0.997330  19.544834   41.470548

In [15]:
df_score = metrics_df.copy()

# Normalisasi MAE (lebih kecil lebih bagus)
df_score["mae_norm"] = (df_score["test_mae"] - df_score["test_mae"].min()) / (df_score["test_mae"].max() - df_score["test_mae"].min())

# Normalisasi RMSE (lebih kecil lebih bagus)
df_score["rmse_norm"] = (df_score["test_rmse"] - df_score["test_rmse"].min()) / (df_score["test_rmse"].max() - df_score["test_rmse"].min())

# Normalisasi R² (lebih besar lebih bagus -> dibalik)
df_score["r2_norm"] = (df_score["test_r2"].max() - df_score["test_r2"]) / (df_score["test_r2"].max() - df_score["test_r2"].min())

# Bobot gabungan
w_rmse = 0.5
w_mae = 0.3
w_r2 = 0.2

df_score["final_score"] = (
    w_rmse * df_score["rmse_norm"] +
    w_mae  * df_score["mae_norm"] +
    w_r2   * df_score["r2_norm"]
)

df_score.sort_values("final_score")

,test_r2,test_mae,test_rmse,mae_norm,rmse_norm,r2_norm,final_score
Linear Regression,0.996936,16.003197,44.428367,0.000000,0.018608,0.006608,0.010626
DNN,0.997330,19.544834,41.470548,0.150736,0.000000,0.000000,0.045221
Random Forest,0.937642,39.498803,200.424859,1.000000,1.000000,1.000000,1.000000

In [16]:
best_model_name = df_score["final_score"].idxmin()
print("BEST MODEL (Combined MAE+RMSE+R2):", best_model_name)

BEST MODEL (Combined MAE+RMSE+R2): Linear Regression

In [17]:
# simpan preprocessor
joblib.dump(preprocessor, "preprocessor.pkl")
print("Saved: preprocessor.pkl ✅")

# simpan model terbaik
if best_model_name in ["Linear Regression", "Random Forest"]:
    joblib.dump(models[best_model_name], "best_model.pkl")
    print("Saved: best_model.pkl ✅")
else:
    dnn_model.save("best_model_tf.h5")
    print("Saved: best_model_tf.h5 ✅")

Saved: preprocessor.pkl ✅
Saved: best_model.pkl ✅